.main-instructions {
  flex-grow: 1;
  width: 100%;
  background: #d9edf87d;
}
section.instuctions {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1350px;
  position: relative;
  margin: auto;
  border: 1px solid #a9d7f0;
  border-radius: 10px;
  padding: 30px;
  background: #d9edf87d;
}

.instuctions h2 {
  text-decoration: underline;
}

.instuctions li {
  text-align: left;
  line-height: 2;
}

#back-button {
  border: 1px solid white;
}

@media only screen and (max-width: 600px) {
  #back-button {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 5%;
    margin-left: 1%;
  }
}

@media only screen and (min-width: 768px) {
  #back-button {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 1%;
    margin-left: 1%;
  }
}
