.react-logo {
  height: 100px;
  width: 100px;
}
.vite-logo {
  height: 100px;
  width: 100px;
}
.phaser-logo {
  height: 100px;
  width: 100px;
}
.javascript-logo {
  height: 100px;
  width: 100px;
}
.phaser-logo {
  height: 100px;
  width: 100px;
}
.socketIo-logo {
  height: 100px;
  width: 100px;
}
.northcoders-logo {
  height: 100px;
  width: 300px;
}
