.main-block {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1350px;
  position: relative;
  margin: auto;
  border: 1px solid #a9d7f0;
  border-radius: 10px;
  padding: 30px;
  background: #d9edf87d;
}
.header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header img {
  height: 60px;
}
header span {
  font-size: 44px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.settings-block {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  padding: 5px 20px 20px 20px;
  justify-content: center;
  margin-top: 20px;
  background: #faab1e08;
}
h1 {
  text-align: center;
}
.link-input {
  height: 30px;
  flex-grow: 1;
  border: 2px solid #beb8e5;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;
  background-color: #dedaf440;
}

.link-input:active,
.link-input:focus,
.link-input:focus-visible {
  background-color: white;
  color: #8f84d5;
  outline: #ffd6a5;
}

button.join-game-button {
  box-sizing: content-box;
  height: 32px;
  width: 100px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  margin-left: 0;
}

.link-block {
  display: flex;
  justify-content: center;
  width: 85%;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

.link-to-join-game {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.game-settings-sec {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 50px auto 20px;
  border: 1px solid #c5bdf2;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #dedaf440;
  align-items: center;
}

.game-settings-sec h2 {
  text-align: center;
  width: 100%;
}

.settings-form {
  padding: 0 20px;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  position: relative;
}

.setting-line {
  display: flex;
}

.settings-form label {
  margin-bottom: 20px;
  width: 40%;
  text-align: end;
}

.settings-form select {
  margin-left: 5px;
  padding: 2px;
  border-color: #b1a5f5;
  border-radius: 4px;
  color: #675ba9;
}

.btn-purple {
  float: right;
}

.link-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.chat-box {
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
}
.send-message-block {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.chat-box {
  display: flex;
  flex-direction: column;
}
.message-input {
  height: 30px;
  flex-grow: 1;
  border: 2px solid #beb8e5;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;
  background-color: #dedaf440;
}
.message-input:active,
.message-input:focus,
.message-input:focus-visible {
  background-color: white;
  color: #8f84d5;
  outline: #ffd6a5;
}
.setting-button:disabled {
  color: black;
  border: 2px solid black;
}
.date-in-chat {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: gray;
}
.message-in-chat {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: black;
}
button.send-message-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 34px;
  margin-left: 0;
  margin-bottom: 13px;
  margin-right: 10px;
  margin-top: 0;
}
.header-buttons img {
  height: 26px;
}
.header-buttons img:hover {
  background: #beb8e5;
}
.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1350px;
  position: relative;
  margin: auto;
  border: 1px solid #a9d7f0;
  border-radius: 10px;
  padding: 30px;
  background: #d9edf87d;
}
